@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Pen+Script&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {background: #f4f4f4;}

/*      = = = = = = NABBAR ng mga HAMPASLUPA = = = = = = =       */

.nav{
	position: sticky;
	top: 0;
	background-color: #9C26FF;
	height: 60px;
	width: 100%;
	z-index: 2;
}


.dropProfile{
	font-family: serif;	
	color: white;
	font-size: 20px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 100px;
	transition: .8s;
}

.dropProfile #up {
	display: none;
}

#checkProfile:checked ~ .dropProfile #down{display: none;}
#checkProfile:checked ~ .dropProfile #up{display: initial;}
#checkProfile{display: none;}
#checkProfile:checked ~ .dropProfile{color: #75023A;}

#checkProfile:checked ~ .Prof{
    top: 61px;
    transition: all .5s;
}

.Prof {
	top: -300%;
	position: fixed;
    width: 30%;
    height: 100vh;
	background-color: #FFA0EB;
	opacity: .8;
	padding-top: 30px;
	border-right: 1px solid	black;
	z-index: 1;
}

.Prof p {
	font-family: sans-serif;
	font-size: 18px;
	text-align: justify;
	max-width: 70%;
	margin: 5% 15%;
}

.Prof span {
	color: #75023A;
	font-weight: bold;
}

.Prof h1 {
	text-align: center;
	color: #75023A;
	font-weight: bold;
	font-size: 20px;
	max-width: 70%;
	margin: 5% 15%;
	padding: 10px 0px;
	border-radius: 5px;
	background-color: white;
}

label.logo{
	font-family: serif;	
	color: white;
	font-size: 30px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 10px;
}

.nav ul{
	float: right;
	margin-right: 100px;
	font-family: serif;	
}

.nav ul li{
	display: inline-block;
	text-align: center;
	line-height: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 143px;
}

.nav ul li a{
	color: white;
	font-size: 18px;
	min-width: 143px;
	transition: .8s;
}

.nav ul li a.active,
.nav ul li a:hover{
  	color: black;
}

.dropbtn {
	min-width: 143px;
	font-family: serif;
	color: white;
	font-size: 18px;
	padding-bottom: 18px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transition: .8s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	text-align: center;
	min-width: 143px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	display: block;
	background-color: #9C26FF;
	border: 1px solid black;
	color: white;
	font-size: 17px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	transition: .8s;
}

.dropdown-content a:hover {
	background-color: #fff;
	color: black;
	border: 1px solid black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
  color: black;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/*		RESPONSIVE NA NAVBAR NG MGA HAMPASLUPA		*/

@media (max-width: 952px){

	label.dropProfile {
		font-size: 18px;
		padding-left: 18px;
	}
	label.logo{
	  font-size: 25px;
	  padding-left: 8px;
	}
	.nav ul{
	  margin-right: 50px;
	}
	.nav ul li a {
		font-size: 15px;
	}
	.dropbtn {
		font-size: 15px;
	}
}

/*		TABLET AT SELPON		*/
@media (max-width: 805px){

  .checkbtn{
    display: block;
  }

  .Prof {
  	width: 40%;
  }

  .nav ul{
  	position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(90,0,10,0.8);
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 2;
  }

  .nav ul li{
  	margin: 10px 20%;
  	box-shadow: none;
  	background: #9C26FF;
  	border-radius: 5px;
  	justify-content: center;
  	display: block;
    line-height: 30px;
    padding: 12px 40px 10px 40px;
  }

  .nav ul li a{
    font-size: 25px;
  }

  a:hover,a.active{
    color: black;
  }

  #check:checked ~ ul{
    left: 0;
  }

  .dropdown {
  	border-radius: 5px;
  	background-color: #9C26FF;
  	width: 60%;
  	left: 0;
  }

  .dropbtn {
  	padding: 12px 40px 10px 40px;
  	font-size: 25px;
  }

  .dropdown-content {
  	width: 100%;
  }

  .dropdown-content a {
  	font-size: 18px;
  	padding: 10px 0px; 
  }
}

/*		SELPON NA MALIIT		*/

@media (max-width: 370px){

	.Prof p{
		font-size: 16px;
	}

	.Prof h1 {
		font-size: 18px;
	}

	.dropProfile {
		font-size: 15px;
		padding-left: 5px;
	}

	.logo {
		font-size: 20px;
		padding-left: 5px;
	}

	.checkbtn{
		font-size: 25px;
		margin-right: 10px;
	}

	.nav ul li{
		margin: 10px 5%;
	}

	.nav ul li a{
	  font-size: 20px;
	}

	.dropdown {
		width: 90%;
	}

	.dropbtn {
		font-size: 20px;
	}
}

/*			MAIN CONTENT			*/

.main {
	margin: 1%;
	padding: 1%;
	
}

.main h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Nanum Pen Script', cursive;
	padding: 20px;
}

.Letter {
	background: white;
	box-shadow: 1px 1px 15px #000;
	border-radius: 15px;
	padding: 40px 20px 100px 40px;
	height: auto;
	width: auto;
	transition: .8s;
}
.Letter:hover {
	box-shadow: 1px 1px 15px #F900E3;
}

.Letter .simula {
	font-family: 'Berkshire Swash', cursive;
	font-size: 23px;
	float: left;
	margin-left: 80px;
}

.Letter .sulat {
	text-indent: 50px;
	margin: 40px 0;
	padding: 20px 40px;
	font-size: 25px;
	font-family: 'Nanum Pen Script', cursive;
}

.Letter .sulat span {
	color: red;
	text-decoration: underline;
}

.Letter .sulat span:hover {
	font-size: 72px;
}


.Letter .wakas {
	text-align: right;
	margin-right: 80px;
	float: right;
	font-size: 28px;
	font-family: 'Berkshire Swash', cursive;
}

/*			Footer ng mga HAMPASLUPA			*/

.footer {
	position: sticky;
	bottom: 0;
	background-color: #9C26FF;
	height: 40px;
	width: 100%;
	z-index: 2;
}

.footer p {
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #FFB1F8;
}

.footer span {
	font-weight: bold;
}
